<% if current_user.product_registered?(product) %>
  <%= link_to user_product_path(product), method: :delete, remote: true do %>
  <div class="project_cancel">
    <div class="project_cancel_icon">
      <i class="fas fa-star fa-lg"></i>
    </div>
  <% end %>
    <div class="project_cancel_text">
      プロジェクトから解除する
    </div>
  </div>
<% else %>
  <%= link_to product_user_products_path(product), method: :post, remote: true do %>
  <div class="project_registration">
    <div class="project_registration_icon">
      <i class="far fa-star fa-lg"></i>
    </div>
  <% end %>
    <div class="project_registration_text">
      プロジェクトに登録する
    </div>
  </div>
<% end %>


