
<div class="container">
  <div class="set_center_outer">
    <h2 class="page_title_en">Edit Product Document</h2>
    <h5 class="page_title_ja"><%= t("views.title.editing_customer_documents") %></h5>
  </div>

  <%= render "form", { customer: @customer, customer_document: @customer_document } %>

  <div class="set_center_outer">
    <%= link_to t("views.button.back"), :back %>|
    <%= link_to t("views.button.show_customer_document"), customer_customer_document_path(@customer, @customer_document) %>
  </div>
</div>