
<div class="container">
  <div class="set_center_outer">
    <h2 class="page_title_en">New Product Document</h2>
    <h5 class="page_title_ja"><%= t("views.title.new_customer_document") %></h5>
  </div>

  <%= render "form", { customer: @customer, customer_document: @customer_document } %>

  <div class="set_center_outer">
    <p><%= link_to t("views.button.back"), :back %></p>
  </div>
</div>
