<div class="container">
  <div class="guide_page">
    <h2 class="page_title_en">Guide</h2>
    <h5 class="page_title_ja">操作ガイド</h5>

    <div>
      <h4 class="area_title_ja">サインアップ・ログイン</h4>
      <h6>サインアップする場合</h6>
      <p>ヘッダー右上の「サインアップ」よりサインアップしてください</p>
      <h6>ゲストとしてログインする場合</h6>
      <p>ヘッダー右上の「ログイン」よりゲストログインしてください</p>
    </div>
    <br>
    <div>
      <h4 class="area_title_ja">ホーム画面説明</h4>
      <p>ログイン後のホーム画面はこちらです。</p>
      <div class="home_page_image">
        <%= image_tag 'home_page.png', size: '1100x600', alt: 'home_page' %>
      </div>

    </div>






    <%= video_tag "画面収録 2021-08-27 9.53.06.mov", controls: true, muted: true, size: "1000x600" %>

  </div>
</div>