<div class="container">
  <div class="top_page">
    <h2 class="page_title_en">About</h2>
    <h5 class="page_title_ja">アプリの説明</h5>

    <div class="problem_content">
      <h4>Problem</h4>
      <p>
      あなたの周りに仕事を楽しんでいる人はどれくらいいますか？<br>
      世界全体で見たときに日本の仕事の生産性はどの位置にありますか？<br>
      なぜこんなにも仕事を楽しめず、生産性も低いのか？<br>
      こんな問題を解決します！
      </p>
    </div>

    <div class="why_content"> 
      <h4>why</h4>
      <p>
      生産性をあげられれば...<br>
      ・雑務を減らし、付加価値の高い仕事に専念できる<br>
      ・労働時間が減りプライベートの時間が増える<br>
      ・収入UP<br>
      日々の生活が楽しく幸せに！
      </p>
    </div>

    <div class="how_content">
      <h4>How</h4>
      <p>
      バラバラで関連が無かった<br>
      メッセージ機能、資料保存、日程管理を全部１つに！
      </p>
    </div>

    <div class="what_content">
      <h4>What</h4>
      <p>
      ものづくり企業の資料・コミュニケーションプラットフォーム<br>
      BtoBの企業での使用を想定しています。<br>
      製品ごと、お客様ごとにデータを管理して、一元化することができます。
      </p>
    </div>

    <section>
      <a href="#" class="btn_10"><span><i class="fas fa-sync fa-spin"></i> ご使用ガイド</span></a>
    </section>

  </div>
</div>