<ul>
  <% product_contacts.each do |product_contact| %>
    <% if product_contact.id.present? %>
      <li>
        <p><%= product_contact.contact_message %></p>
      </li>
    <% end %>
  <% end %>
</ul>