<div class="container">
  <div class="customer_page">
    <div class="set_center_outer">
      <h2 class="page_title_en">Edit Customer</h2>
      <h5 class="page_title_ja"><%= t("views.title.customer_edit") %></h5>
    </div>

    <%= render "form", customer: @customer %>

    <div class="set_center_outer">
      <%= link_to t("views.button.back_home"), homes_path %>|
      <%= link_to t("views.button.show_customer"), @customer %>
    </div>
  </div>
</div>