

<p>
  <strong>Customer number:</strong>
  <%= @customer.number %>
</p>

<p>
  <strong>Customer name:</strong>
  <%= @customer.name %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', homes_index_path %>
