<%= form_with(model: [customer, customer_contact]) do |form| %>
  <% if customer_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_contact.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% customer_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row edit_message_area">
    <div class="field message_box">
      <%#= form.text_area :contact_message %>
      <%= form.text_area :contact_message, style: "width:100%", id: "customer_contact_contact_message_#{customer.id}" %>
      <%#= form.label :contact_message %>
    </div>
    <span class="actions">
      <button name="button" type="submit" class="btn massage_btn">
        <i class="far fa-paper-plane fa-lg"></i>
      </button>
    </span>
  </div>
<% end %>