<h1>New Product Document</h1>

<%#= render 'form', product_document: @product_document %>
<%= render 'form', { product: @product, product_document: @product_document }%>

<%#= link_to 'Back', product_product_documents_path %>
<%= link_to 'Back', product_product_documents_path %>
