@font-face {
  font-family: 'bokutachi';
  src: asset_url('bokutachi.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Qarmic_sans_Abridged';
  src: asset_url('Qarmic_sans_Abridged.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}