// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page_title_en {
  text-align: center;
  // border-bottom: solid 3px #cce4ff;
  // position: relative;
}

.page_title_ja {
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
}

h2:after {
  // position: absolute;
  // content: " ";
  // display: block;
  // border-bottom: solid 3px #5472cd;
  // bottom: -3px;
  // width: 20%;
}