// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home_page{
  margin-top: 10px;
}

.page_title_en {
  font-family: 'Qarmic_sans_Abridged', sans-serif;
}

.page_title_ja {
  font-family: 'bokutachi', sans-serif;
}

.area_title_ja {
  font-family: 'bokutachi', sans-serif;
}

.page_title_en {
  text-align: center;
  // border-bottom: solid 3px #cce4ff;
  // position: relative;
}

.page_title_ja {
  text-align: center;
  // font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 15px;
}

.customer_no_sort {
  margin: 10px 10px 0px 20px;
}

.title_edit_icon {
  margin-left: 5px;
}


.form2{
  position:relative;
  max-width:300px;	
  margin-bottom:20px;
  }
  .sbox2{
  height:50px;
  padding:0 10px; 
  position:absolute; 
  left:0;
  top:0; 
  border-radius:2px;
  outline:0;
  background:#eee;	
  }
  .sbtn2{
  height:50px;
  position:absolute; 
  left:255px;/*アイコン左右の位置調整*/
  top:0;
  background:none;
  color:#666;
  border:none;
  font-size:20px;/*アイコンサイズ*/
  }
  .sbtn2:hover{
  color:#7fbfff;
  }


.logo {
  // background: url("logo_set.png") no-repeat left center;
  // background-size: contain;
  // height: 50px;
  // width: 250px;
  // z-index: 100;
  height: 100%;
  width: 100%;
  // padding-top: 10px;
}

.logo_area {
  width: 250px;
}

.navbar {
  padding: 0 1rem;
}

.navbar-brand:hover {
  background-color: rgba(133, 131, 131, 0.767);
}

.bg-dark {
  // background-color: #343a40!important;
  background: linear-gradient(70deg, rgba(187, 185, 185, 0.658), #343a40);
}

.hover_background_none:hover {
  background-color: #f3f3f3;
  color: green;
  text-decoration: none;
}


.sort_link:hover {
  background-color: #f3f3f3;
  color: green;
  text-decoration: none;
}




.bg_onetime_popup {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.bg_onetime_popup.js_active {
  opacity: 1;
  visibility: visible;
}

.onetime_popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  // width: 50%;
  min-width: 300px;
  background-color: #fff;
  cursor: pointer;
}

// .onetime_popup_title {
//   position: relative;
//   // padding: 30px 90px;
//   margin: 0px;
//   background-color: #3388dd;
//   color: #fff;
//   font-size: 32px;
//   text-align: center;
//   line-height: 1.5;
// }
// .onetime_popup_title::before,
// .onetime_popup_title::after {
//   position: absolute;
//   top: 50%;
//   right: 30px;
//   transform: translateY(-50%);
//   width: 30px;
//   height: 4px;
//   background-color: #fff;
//   content: "";
// }
// .onetime_popup_title::before {
//   transform: rotate(45deg);
// }
// .onetime_popup_title::after {
//   transform: rotate(-45deg);
// }

.onetime_popup_content {
  padding: 5px;
  text-align: center;
}

.modal_submit {
  margin-bottom: 40px;
}

.form_title {
  display: flex;
  margin-bottom: -8px;
}

.required {
  margin-right: 5px;
  margin-bottom: 16px;
  background-color: rgba(255, 0, 0, 0.342);
  border-radius: 5px;
  padding: 1px 3px;
  color: white;
}

.optional {
  margin-right: 5px;
  margin-bottom: 16px;
  background-color: rgba(0, 0, 255, 0.39);
  border-radius: 5px;
  padding: 1px 3px;
  color: white;
}

.label {
  padding-top: 3px;
  margin-bottom: 8px;
}
