// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_name_title {
  padding: 1rem 2rem;
  border: 1px solid rgb(201, 201, 201);
  background: rgb(255, 255, 255);
  border-radius: 1rem;
}

.box {
  height: 350px;
  border: 1px solid rgb(201, 201, 201);
  overflow-y: scroll;
  border-radius: 1rem;
  background: white;
}

.editer {
  text-align: left;
  float: left;
}

.edit_link {
  text-align: right;
}

.create_new_product_page {
  text-align: center;
}

.create_new_product_form {
  display: inline-block;
  text-align: left;
  padding: 10px;
  // border: 2px solid rgb(201, 201, 201);
  // background-color: #ffffa0;
  // border-radius: 1rem;
}

.product_editer {
  margin: 10px;
}

.product_project_cancel {
  display: flex;
  // overflow: hidden;
}

.product_project_cancel_icon {
  // display: flex;
  color: #f3dd18;
}

.product_project_cancel_icon:hover {
  color: #f3dd18;
  background-color: white;
}

.product_project_cancel_text {
  // display: flex;
}

.product_project_registration {
  display: flex;
  // display: flex;
}

.product_project_registration_icon {
  color: #f3dd18;
}

.product_project_registration_icon:hover {
  color: #f3dd18;
  background-color: white;
}