// Place all the styles related to the product_contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style: none;
}

.fa-paper-plane {
  color: rgb(119, 44, 204);
  position: relative;
  bottom: 15px;
}

.contact_box {
  padding: 20px;
}