// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_page {
  margin-top: 10px;
}

.product_name_title {
  padding: 1rem 2rem;
  border: 1px solid rgb(201, 201, 201);
  background: rgb(255, 255, 255);
  border-radius: 1rem;
}

// .box {
//   height: 350px;
//   border: 1px solid rgb(201, 201, 201);
//   overflow-y: scroll;
//   // overflow: scroll;
//   border-radius: 1rem;
//   background: white;
// }

.editer {
  text-align: left;
  float: left;
}

.edit_link {
  text-align: right;
}

.set_center_outer {
  text-align: center;
}

.set_center_inner {
  display: inline-block;
  text-align: left;
}


.product_editer {
  margin: 10px;
}

.project_cancel {
  display: flex;
  // overflow: hidden;
}

.project_cancel_icon {
  // display: flex;
  color: #f3dd18;
}

.project_cancel_icon:hover {
  color: #f3dd18;
  background-color: white;
}

.project_cancel_text {
  // display: flex;
}

.project_registration {
  display: flex;
  // display: flex;
}

.project_registration_icon {
  color: #f3dd18;
}

.project_registration_icon:hover {
  color: #f3dd18;
  background-color: white;
}


// .sample {
// 	position: relative;
// }

.technical_document_button_disable .box {
	position: absolute;
	width: 340px; /* 吹き出しの幅 */
	height: 38px; /* 吹き出しの高さ */
	top: 95px; /* 画像と三角形の高さをプラスした値 */
	left: 180px;
	border-radius: 10px 10px 10px 10px;
	background-color: rgba(172, 171, 171, 0.521);
	display: none;
}
.technical_document_button_disable .box:after { /* 三角形を作成 */
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	top: -32px; /* 三角形の高さを２倍した値 */
	left: 32px;
	border: 16px solid transparent;
	border-bottom: 16px solid rgba(172, 171, 171, 0.521);
}
.technical_document_button_disable .text {
	position: absolute;
	font-size: 16px;
	top: 9px;
	left: 7px;
	color: #000;
}
.technical_document_button_disable:hover .box {
	z-index: 2;
	display: block;
}

.document_link_area {
  position: relative;
  height: 140px;
}