// Place all the styles related to the product_contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style: none;
}

.message_form_area {
  padding: 0px 15px;
}

.message_box{
  flex-grow: 1;
  // width: 100%;
}

.edit_message_area {
  margin: 0 10px;
}


.fa-paper-plane {
  color: white;
  position: relative;
  // bottom: 15px;
}

.contact_box {
  padding: 20px;
  height: 350px;
  border: 1px solid rgb(201, 201, 201);
  overflow-y: scroll;
  // overflow: scroll;
  border-radius: 1rem;
  background: white;
}

.message_label {
  margin: 15px 0px 5px 0px;
}

.massage_btn {
  background:green;
  height: 42px;
  width: 50px
}

.massage_btn:hover {
  background-color: #239723;
}

.message_edit_delete {
  // margin: 0 0 0 auto;
  text-align: right;
}

.not_exit_message{
  margin: 150px 0;
}