// Place all the styles related to the ProductDocuments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.document_card_list {
  margin: 10px;
}

.document_card_list {
  transition:0.5s all;
}

.document_card_list:hover {
  transform:scale(1.05,1.05);
  transition:1s all;
}