// Place all the styles related to the schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.schedule_form {
  margin: 0 15px;
}

.schedule_create_area {
  position: relative;
}

.schedule_create_button {
  position: absolute;
  top: 38px;
}

.schedule_edit_area {
  padding: 12px;
}

.schedule_edit_button_area {
  position: relative;
}

.schedule_edit_button {
  position: absolute;
  top: 26px;
}