// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
  max-width: 300px;
  margin: 30px auto;
}
a.btn_10 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background: #ffff00;
  position: relative;
}
a.btn_10 span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background: #ffff00;
  box-sizing: border-box;
  color: #333;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-decoration: none;
  box-shadow: 0px 5px 12px #CAD4E2, -6px -6px 12px #FFF;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: 0;
  transition-duration: 0.2s;
}
a.btn_10:hover span {
  left: 0;
  top: 0;
  box-shadow: 0 0 4px #CAD4E2, -2px -2px 4px #FFF;
}

body{
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
  // margin-bottom: 10px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  margin-bottom: 10px;
}

footer {
  width: 100%;
  background-color:#343a40;
  padding: 15px 0 0 0;
  color: white;
  text-align: center;
  margin: auto;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

body{
  background: #f3f3f3;
  padding: 58.58px 0 70px 0;
  // margin-top: 10px;
}

.top_page {
  width: 85%;
  margin: 0 auto;
}

.problem_area{
  position: relative;
  height: 345px;
}

.problem_image {
  display:block;
  float: right;
}

.problem_content {
  position: absolute;
  margin: 100px 30px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.829);
}

.why_area {
  position: relative;
  height: 345px;
}

.why_image {
  display:block;
  float: left;
}

.why_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(10%);
  padding: 10px;
  background: rgba(255, 255, 255, 0.829);
}

.how_area {
  position: relative;
  height: 345px;
}

.how_image {
  display:block;
  float: right;
}

.how_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-110%);
  padding: 10px;
  background: rgba(255, 255, 255, 0.829);
}

.what_area {
  position: relative;
  height: 345px;
}

.what_image {
  display:block;
  float: left;
}

.what_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(0%);
  padding: 10px;
  background: rgba(255, 255, 255, 0.829);
}

