// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.parent {
  height: 100%;
  width: max-content;
  background-color:rgb(255, 255, 255);
  border-radius: 20px;
}

.created_products_customers_title {
  padding: 10px;
}

.created_products_customers_title_card {
  display: flex;
  // overflow-x: auto;
  overflow-x: scroll;
  // white-space: nowrap; 
  // overflow-scrolling: touch;
  // -webkit-overflow-scrolling: touch;
}

.child {
  // display: inline-block;
  height: 120px;
  width: 100px;
  min-width: 100px;
  margin: 10px;
  background-color: #f3f3f3;
}

