// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.created_products_customers_box {
  height: 100%;
  // width: auto;
  // width: fit-content;
  background-color:rgb(255, 255, 255);
  border-radius: 20px;
}

.created_products_customers_title {
  padding: 10px;
}

.created_products_customers_title_card {
  // flexを使った方法
  display: flex;
  overflow-x: scroll;
  // nowrapを使った方法
  // overflow-x: auto;
  // white-space: nowrap; 
  // overflow-scrolling: touch;
  // -webkit-overflow-scrolling: touch;
}

.created_title_card {
  // display: inline-block;
  height: 120px;
  width: 100px;
  min-width: 100px;
  margin: 10px;
  background-color: #f3f3f3;
}


.created_documents_box {
  height: 100%;
  // width: auto;
  // width: fit-content;
  background-color:rgb(255, 255, 255);
  border-radius: 20px;
}

.created_documents_title {
  padding: 10px;
}

.created_documents_card {
  // flexを使った方法
  display: flex;
  overflow-x: scroll;
  // nowrapを使った方法
  // overflow-x: auto;
  // white-space: nowrap; 
  // overflow-scrolling: touch;
  // -webkit-overflow-scrolling: touch;
}

.created_document_card_list {
  // display: inline-block;
  height: 120px;
  width: 100px;
  min-width: 100px;
  margin: 10px;
  background-color: #f3f3f3;
}


