// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.created_products_customers_box {
  height: 200px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  // width: auto;
  // width: fit-content;
  background-color:rgb(255, 255, 255);
  border-radius: 20px;
}

.created_products_customers_title {
  padding: 10px;
}

.created_products_customers_card {
  // flexを使った方法
  // display: flex;
  // overflow-x: scroll;
  // nowrapを使った方法
  overflow-x: auto;
  white-space: nowrap; 
  -webkit-overflow-scrolling: touch;
  // margin-bottom: 0px;
}

.created_products_customers_card_list {
  display: inline-block;
  // position: relative;
  top: 0px;
  height: 120px;
  width: 180px;
  margin: 5px;
  // padding: 10px;
  // background-color: #f3f3f3;
  // border-radius: 15px;
}

.created_products_customers_card_list_name {
  word-wrap: break-word;
  word-break: break-all;
}


.created_documents_box {
  height: 350px;
  // width: auto;
  // width: fit-content;
  background-color:rgb(255, 255, 255);
  border-radius: 20px;
}

.created_documents_title {
  padding: 10px;
}

.created_documents_card {
  // flexを使った方法
  // display: flex;
  // overflow-x: scroll;
  // nowrapを使った方法
  overflow-x: auto;
  white-space: nowrap; 
  -webkit-overflow-scrolling: touch;
}

.created_document_card_list {
  display: inline-block;
  height: 280px;
  width: 180px;
  margin: 5px 5px 10px 5px;
  padding: 0px;
  // background-color: #f3f3f3;
  // border-radius: 15px;
  word-break: break-all;
}


.created_document_card_list_name {
  // width: 160px;
  // overflow-wrap: break-word;
}

.created_document_card_list_content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 150px;
  // height: 50px;
  // border: 1px solid #ccc;
  word-wrap: break-word;
  word-break: break-all;
  // overflow-wrap: break-word;
}

.not_exist_puroduct_customer {
  margin: 50px;
}

.not_exist_document {
  margin: 100px 50px ;
}