<h3><strong><%= t('views.title.product_edit') %></strong></h3>

<%= render 'form', product: @product %>

<%= link_to t('views.button.show'), @product %> |
<%= link_to t('views.button.back_home'), homes_path %>
