<%
=begin %>

<div class="container">
  <div class="product_page">
    <div class="set_center_outer">
      <h2 class="page_title_en">New Product</h2>
      <h5 class="page_title_ja"><%= t("views.title.new_product") %></h5>
    </div>

    <%= render "form", product: @product %>

    <div class="set_center_outer">
      <p><%= link_to t("views.button.back_home"), homes_path, class: "hover_background_none" %></p>
    </div>
  </div>
</div>

<%
=end %>

<p style="
    text-align: center;
    margin-top: 50px;
">モーダル表示に変更しました。</p>